!!!5
html
    head
        include scripts
        script(src="#{basepath}/js/studyAid.js", type="text/javascript")

        title StudyAid

    body
        div(class="SA-container")
            div(data-yield="main", data-context="controllers.studyAid")