# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app



# Final application
StudyAid

# Qt compiled files
/moc
/obj
qrc_resources.cpp

# backup of database
database/study_aid_v3.sql
